[submodule "third_party/LaCT"]
	path = third_party/LaCT
	url = https://github.com/a1600012888/LaCT.git

[submodule "third_party/Liger"]
	path = third_party/Liger
	url = https://github.com/OpenSparseLLMs/Linearization.git
[submodule "third_party/mad-lab"]
	path = third_party/mad-lab
	url = https://github.com/athms/mad-lab.git
